USE [BookStore325569796]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/12/2023 13:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nchar](20) NULL,
	[CategoryId] [int] NOT NULL,
	[Auther] [nchar](10) NULL,
	[NumOfPages] [int] NULL,
	[Image] [nchar](20) NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/12/2023 13:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nchar](20) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderBook]    Script Date: 11/12/2023 13:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderBook](
	[OrderBookId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderBook] PRIMARY KEY CLUSTERED 
(
	[OrderBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/12/2023 13:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[OrderSum] [money] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 11/12/2023 13:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NULL,
	[METHOD] [nchar](10) NULL,
	[PATH] [nvarchar](50) NULL,
	[REFERER] [nvarchar](100) NULL,
	[USER_AGENT] [nvarchar](max) NULL,
	[Record_Date] [datetime] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/12/2023 13:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nchar](50) NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[FirstName] [nchar](10) NULL,
	[LastName] [nchar](10) NULL,
	[UserId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [BookName], [CategoryId], [Auther], [NumOfPages], [Image], [Price]) VALUES (13, N'ליבי                ', 4, N'חני לוריא ', 200, N'1202-300x300.jpg    ', 45.0000)
INSERT [dbo].[Books] ([BookId], [BookName], [CategoryId], [Auther], [NumOfPages], [Image], [Price]) VALUES (14, N'פעמוני רוח          ', 2, N'פנינה פקשר', 56, N'1765-10-300x300.jpg ', 80.0000)
INSERT [dbo].[Books] ([BookId], [BookName], [CategoryId], [Auther], [NumOfPages], [Image], [Price]) VALUES (15, N'כל יום מחדש         ', 1, N'חיה הרצברג', 250, N'1544-23-300x300.jpg ', 70.0000)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'adualt              ')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'childrens           ')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'women               ')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderBook] ON 

INSERT [dbo].[OrderBook] ([OrderBookId], [BookId], [OrderId], [Quantity]) VALUES (1, 27, 9, 2)
INSERT [dbo].[OrderBook] ([OrderBookId], [BookId], [OrderId], [Quantity]) VALUES (2, 23, 9, 5)
INSERT [dbo].[OrderBook] ([OrderBookId], [BookId], [OrderId], [Quantity]) VALUES (3, 13, 9, 2)
SET IDENTITY_INSERT [dbo].[OrderBook] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderDate], [OrderSum], [UserId]) VALUES (2, CAST(N'2023-11-09' AS Date), 236.0000, 1)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [OrderSum], [UserId]) VALUES (3, CAST(N'2023-11-09' AS Date), 565.0000, 1)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [OrderSum], [UserId]) VALUES (6, CAST(N'2023-11-23' AS Date), 100.0000, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (1, N'localhost:44366', N'GET       ', N'/Images/BagActive.png', N'https://localhost:44366/books.css', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36', CAST(N'2023-12-03T19:39:10.313' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (2, N'localhost:44366', N'GET       ', N'/api/Category', N'https://localhost:44366/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36', CAST(N'2023-12-03T19:39:12.110' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3, N'localhost:44366', N'GET       ', N'/api/Book', N'https://localhost:44366/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36', CAST(N'2023-12-03T19:39:12.110' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserName], [Password], [FirstName], [LastName], [UserId]) VALUES (N'esti@gmail.com                                    ', N'esti9876i ', N'esti      ', N'zaza      ', 1)
INSERT [dbo].[Users] ([UserName], [Password], [FirstName], [LastName], [UserId]) VALUES (N'st@gmail.com                                      ', N'a1b2c3dd4 ', N'rr        ', N'rr        ', 2)
INSERT [dbo].[Users] ([UserName], [Password], [FirstName], [LastName], [UserId]) VALUES (N'akivasim@gmail.com                                ', N'leah9876le', N'Leah      ', N'Rokowsky  ', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Books1] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Books1]
GO
ALTER TABLE [dbo].[OrderBook]  WITH CHECK ADD  CONSTRAINT [FK_OrderBook_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[OrderBook] CHECK CONSTRAINT [FK_OrderBook_Books]
GO
ALTER TABLE [dbo].[OrderBook]  WITH CHECK ADD  CONSTRAINT [FK_OrderBook_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderBook] CHECK CONSTRAINT [FK_OrderBook_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Orders] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Orders]
GO
